@import '../../styles/variables.scss';

div.input-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: text;

  $primary-color: $colors-1-base;
  $base-font-size: 1.92rem;
  $small-font-size: calc($base-font-size * 0.625);
  $padding-small: calc($base-font-size * 0.26);
  $padding-medium: calc($base-font-size * 0.36);
  $padding-large: calc($base-font-size * 0.52);
  $active-top: -55%;

  fieldset {
    width: 100%;
    padding: 0 $padding-large $padding-small 0;
    border: 0.1rem solid $primary-color;
    border-radius: $padding-small;
    position: relative;
    transition: border-color $transition-time, color $transition-time;

    &:has(input:focus) {
      border-width: 0.2rem;
      border-color: $primary-color;
    }

    label, span {
      padding: 0 $padding-small;
      pointer-events: none;
    }

    legend {
      max-width: 0.01px;
      margin-left: $padding-medium;
      font-size: $small-font-size;
      text-wrap: nowrap;
      opacity: 0;
      transition: max-width $transition-time;
    }

    input {
      width: 97%;
      border: none;
      font-size: $base-font-size;
      color: $colors-text-primary;
      outline: none;
      padding-left: $padding-large;
      background-color: transparent;

      &::placeholder {
        color: transparent;
      }

      &:focus+legend, &:not(:placeholder-shown)+legend {
        max-width: 100%;
      }

      &:focus~.placeholder {
        color: $primary-color;
      }

      &:focus~.placeholder, &:not(:placeholder-shown)~.placeholder {
        font-size: $small-font-size;
        top: $active-top;
      }

      &.invalid~.placeholder {
        color: $colors-semantic-error-base;
      }
    }

    .placeholder {
      margin-left: $padding-medium;
      font-size: $base-font-size;
      font-weight: 500;
      color: $primary-color;
      position: absolute;
      top: -5%;
      left: 0;
      transition: font-size $transition-time, top $transition-time;
    }

    &:has(input.invalid) {
      border-width: 2px;
      border-color: $colors-semantic-error-base;
    }
  }
}
