// Paleta de Cores Marinha para Blue Carbon Tracking (Vibrante)
$colors-1-light: #6AD5FF;              // Azul claro e vibrante, remetendo a águas cristalinas.
$colors-1-base: #2F92FF;               // Azul médio e brilhante, representando o oceano em um dia ensolarado.
$colors-1-dark: #0057A8;               // Azul escuro e intenso, simbolizando a profundidade e mistério do mar.
$colors-1-darker: #003366;             // Azul profundo e vibrante, para áreas de alto contraste.

// Cores Semânticas para Sucesso, Erro e Aviso
$colors-semantic-success-base: #2DB300;    // Verde vibrante, para indicar sucesso e positividade.
$colors-semantic-error-base: #FF3333;      // Vermelho vibrante e intenso, para alertas críticos.
$colors-semantic-warning-base: #FFCC00;    // Amarelo vibrante e chamativo, para avisos importantes.

// Cores para Texto
$colors-text-primary: #FFFFFF;         // Branco para texto em fundos vibrantes.
$colors-text-on-color: #F1F1F1;        // Cinza claro, para texto em fundos de cor.

// Tempo de Transição e Sombra de Caixa
$transition-time: 0.3s;
$box-shadow: rgba(38, 38, 38, 0.5) 1.95px 1.95px 2.6px;

