@import '../../styles/variables.scss';

nav{
    padding: 3rem 6rem;
    font-size: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    div.company{
        display: flex;
        align-items: center;
        gap: 2rem;
        font-size: 6rem;
        color: $colors-text-primary;
        
        span{
            font-size: 3.2rem !important;
        }
    }

    ul{
        display: flex;
        align-items: center;
        gap: 4rem;
        list-style: none;

        .link{
            text-decoration: none;

            li{
                color: $colors-text-primary;
                transition: all 0.3s ease-in ;
            }
            
            li:hover{
                color: #9fa3a3;
                            // Azul médio e brilhante, representando o oceano em um dia ensolarado.;
               }
            button.signOut{
                background: transparent;
                border: 1px solid $colors-text-primary;
                background-color: rgba(240, 255, 255, 0.11);
            }
        }
    }
}