
div.table-header{
    display: flex;
    gap: 2rem;

    span{
        font-size: 3.2rem;
        color: #FFF;
        font-weight: bold;
      
    }

    padding: 0 1rem;

}
section.tableSection{
    border: 1px solid #DCDCDC;
    border-bottom:1px solid #DCDCDC;
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    width: 1000px;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 50vh;
    margin-top: 20px;
    margin-bottom: 40px;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba(0,0,0,0.1);
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(0,0,0,0.2);
    }
    &::-webkit-scrollbar-thumb:hover {
        background: rgba(0,0,0,0.4);
    }

    table{
        text-align: left;
        width: 100%;
        border-collapse: collapse; 
        color: #FFF;
    }

    thead{
        border-collapse: collapse;
        position: sticky;
        top: 0; 
    }

    th{
        padding: 14px 12px; /* Reduced padding for better fit */
        font-size: 12px;
        border-bottom:1px solid #DCDCDC;
        background-color: #206B84;

    }

    tr{
        border-bottom: 1px solid #DCDCDC;
        transition: all 0.3s ease-in;
        cursor: pointer;
        &:hover {
            background-color: #f6f6f642;
        }
        &:last-child {
            border-bottom: none;
        }
    }

    td{
        padding: 10px 16px; /* Reduced padding for better fit */
        font-size: 11px;
    }

}