@import '../../styles/variables.scss';


div#login-page{
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #206B84, #163D4E, #0B1E28);
    background-size: cover;


    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40rem;

    img{
        width: 20%;
    }
}


div.login-infos{
    display: flex;
    flex-direction: column;
    gap: 4rem;

    div.inputs{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        p{
            font-size: 1.6rem;
            text-align: center;
            color: $colors-text-primary;
            font-weight: bold;
            
            button{
                border: none;
                 background: none;
                 font-size: 1.6rem;
                 font-weight: bold;
                 padding: 0;
                 margin: 0;
                 color: $colors-1-light;
            }
        }
    }
}

div.title{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1{
        font-size: 3.6rem;
        color: $colors-text-primary;
    }

    p{
        font-size: 1.8rem;
        color: $colors-text-primary;
    }
}
